<ion-content>
  <div class="welcome-page">
    <div class="header">
      <div class="logoImg">
        <img src="../../../assets/img/gamerLogo.png" alt="GamerNews">
      </div>
      <div class="txt">
        <h1>Welcome,</h1>
        <p>Do you have an account?<br><span>Login now.</span></p>
        <p>Don’t have an account yet?<br><span>Sign up.</span></p>
      </div>
    </div>
    <div class="btns">
      <ion-router-link href="login">
        <ion-button>Login</ion-button>
      </ion-router-link>
      <ion-router-link>
        <ion-button href="cadastro">Sign Up</ion-button>
      </ion-router-link>
    </div>
  </div>
  
</ion-content>
