* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.bar {
  box-sizing: border-box;
  display: flex;
  ion-title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-right: 10px;
  }
}

.newsInfo {
  text-align: justify;
  padding: 10px;
  box-shadow: 0 0 10px #636e72;
  ion-card-header,
  ion-card-content {
    background: #374042;
    padding: 10px;
  }
  ion-card {
    box-shadow: 0 0 10px #636e72;
  }
  ion-card-title {
    font-size: 20px;
  }
  ion-card-subtitle {
    font-size: 16px;
  }
}

ion-fab-button {
  --background: #636e72;
  ion-icon {
    font-size: 30px;
  }
}
