<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="bar">
      <ion-title>News</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let new of newsList">
    <ion-img [src]="{{new.urlToImage}}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle> {{new.publishedAt}} </ion-card-subtitle>
      <ion-card-title> {{new.title}} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{new.content}}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="logoutUsuario()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
