* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.bar {
  box-sizing: border-box;
  display: flex;
  ion-title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;
    color: #a29bfe;
  }
  ion-button {
    font-size: 30px;
  }
}

ion-card {
  box-shadow: 0 0 10px #636e72;
  margin-bottom: 10px;
}

.map {
  height: 90%;
  .map-container {
    width: 100vw;
    height: 100vh;
    padding: 10px;

    #mapId {
      height: 100%;
    }
  }
}

.getLocation {
  padding: 10px 0;
  ion-button {
    bottom: 10px;
    --background: #25ccf7;
    --color: #2d3436;
    ion-icon {
      margin-right: 5px;
      font-size: 20px;
    }
  }
}
