<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="bar">
      <ion-title>Map</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-container">
    <div id="mapId">
    </div>
    <ion-button expand="full" (click)="pegarLocalizacao()">
      <ion-icon slot="start" name="location"></ion-icon> My Place
    </ion-button>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="logoutUsuario()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
