* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.bar {
  box-sizing: border-box;
  display: flex;
  ion-title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-right: 10px;
  }
  ion-button {
    --border-radius: 50%;
    --background: #636e72;
    margin-right: 10px;
  }
  ion-icon {
    text-align: right;
    font-size: 20px;
  }
}
