<ion-header>
  <ion-toolbar>
    <ion-title>Bem-vindo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/img/logo.png" alt="movieNews">
  <form action="">
    <div class="login-input">
      <ion-item>
        <ion-input type="text" name="login" placeholder="E-mail" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" name="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>
    <div class="login-btn">
      <ion-button type="submit" (click)="loginUsuario()">Login <ion-icon name="log-in"></ion-icon></ion-button>
      <ion-router-link href="cadastro">Não tem conta?</ion-router-link>
    </div>  
  </form>
    <ion-chip color="success">
      <ion-label>© Developer: Jessica L. Barbosa</ion-label>
    </ion-chip>
</ion-content>
