<ion-content>
  <form action="" class="login-form">
    <h1>Bem-vindo</h1>
    <div class="txtb">
      <ion-input type="text" name="login" placeholder="E-mail" [(ngModel)]="email"><span></span></ion-input>
    </div>
    <div class="txtb">
      <ion-input type="password" name="password" placeholder="Password" [(ngModel)]="password"><span></span></ion-input>  
    </div>
    <input type="submit" class="logbtn" value="Login" (click)="loginUsuario()">

    <div class="bottom-text">
      Don't have account? <ion-router-link href="cadastro">Sign Up</ion-router-link>
    </div>
  </form>
  <div class="bottom-text">
    <ion-chip>
      <ion-label>© Developer: Jessica L. Barbosa</ion-label>
    </ion-chip>
  </div>
</ion-content>
