* {
  margin: 0;
  padding: 0;
}

ion-list-header {
  padding: 10px 10px 10px 0;
  font-size: 30px;
}

ion-button {
  --background: #636e72;
}

ion-icon {
  padding-right: 20px;
  font-size: 28px;
  color: #25ccf7;
}
