* {
  margin: 0;
  padding: 0;
}

ion-list-header {
  padding: 10px 10px 10px 0;
  font-size: 30px;
}

ion-icon {
  padding-right: 10px;
  font-size: 28px;
  color: #a29bfe;
}

ion-button {
  font-size: 14px;
}
