* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.bar {
  box-sizing: border-box;
  display: flex;
  ion-title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;
    color: #a29bfe;
  }
  ion-button {
    font-size: 30px;
  }
}
.appInfo,
.devInfo {
  text-align: justify;
  padding: 10px;
  ion-card-header,
  ion-card-content {
    background: #374042;
    padding: 10px;
  }
  ion-card {
    box-shadow: 0 0 10px #636e72;
    margin-bottom: 10px;
  }
  ion-card-title {
    font-size: 30px;
  }
  ion-card-subtitle {
    font-size: 20px;
    color: #a29bfe;
  }
}

h2 {
  position: relative;
  font-size: 20px;
}

.border {
  width: 40px;
  height: 3px;
  background: #a29bfe;
  position: absolute;
  left: 0;
  bottom: -6px;
}

p {
  padding: 20px 0;
  font-size: 14px;
}

.s-m {
  text-align: left;
  margin-top: 20px;
}

ion-router-link {
  --background: none;
  --color: #a29bfe;
  text-decoration: none;
  font-size: 34px;
  padding-right: 20px;
  transition: 0.4s;
}
