<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="bar">
      <ion-title>Home</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Informações da Aplicação -->
  <div class="appInfo">
    <ion-card>
      <ion-card-header>
        <ion-card-title>myNews App</ion-card-title>
        <ion-card-subtitle>App version: alpha 0.1v</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        myNews é uma aplicação desenvolvida para avaliação do módulo de Desenvolvimento Móvel da Graduação de Ciência da Computação.
        Seu objetivo é fazer o aluno entender o funcionamento de rotas, utilização de APIs e aplicação de Geolocalização, junto com o desenvolvimento de uma aplicação móvel funcional.
      </ion-card-content>
    </ion-card>
  </div>

  <div class="devInfo">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Jessica Lessa Barbosa</ion-card-title>
        <ion-card-subtitle>Matrícula: 18100421</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div class="info-section">
          <h2>About <div class="border"></div></h2>
          <p>Atualmente cursando o 6º período do Curso de Ciência da Computação na UNISUAM</p>
          <h2>Contact <div class="border"></div></h2>
          <div class="s-m">
            <ion-router-link href="https://web.facebook.com/jessica.lessabarbosa"><ion-icon name="logo-facebook"></ion-icon></ion-router-link>
            <ion-router-link href="https://twitter.com/jesselbarbosa"><ion-icon name="logo-twitter"></ion-icon></ion-router-link>
            <ion-router-link href="https://www.linkedin.com/in/jessica-lessa-barbosa/"><ion-icon name="logo-linkedin"></ion-icon></ion-router-link>
            <ion-router-link href="https://github.com/JessicaLBarbosa"><ion-icon name="logo-github"></ion-icon></ion-router-link>
          </div>
          
        </div>
        
      </ion-card-content>
    </ion-card>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="logoutUsuario()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
